<h1>Редактировать задачу</h1>
<table class="table table-striped">
        <thead>
        <tr>
                <td>Id</td>
                <td>Название</td>
                <td>Описание</td>
                <td>Важность</td>
                <td>Дата создания</td>
                <td>Дедлайн</td>
                <td>Дата завершения</td>
                <td></td>
                <td></td>
            </tr>
    </thead>
        <tbody>
        <tr>
            <p>Task edit</p>
        </tr>
    </tbody>
</table>
